*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search_city{
  width: 100%;
  height: 100vh;
  margin: auto;
}

.city{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.city h1{
  font-size: 8rem;
  font-family: 'Poppins', sans-serif;
}

.city img{
  width: 16rem;
}

.temp{

}

.city h3{
  font-size: 2rem;
}